src/main/resources/META-INF/mytag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.tone.com/schema/mytag" targetNamespace="http://www.tone.com/schema/mytag"
            elementFormDefault="qualified">
    <xsd:element name="mytag">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" />
            <xsd:attribute name="name" type="xsd:string" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>